/* Space out content a bit */
::selection {
	color: white;
	background-color: rgba(0,0,0,0);
}

body {
	/*padding-top: 20px;
	padding-bottom: 20px;*/
	font-family: helvetica;
	background-color: #333;
	background-image: url('../assets/img/fondo.jpg')
}

.toolbar{
		position: fixed;
		background-image: url('../assets/img/header.jpg');
		height: 134px;
		width: 100%;
		z-index: 100;
}
#logo{
	position: fixed;
	background-image: url('../assets/img/logo-cp.png');
	width: 375px;
	height: 134px;
	margin-left: 60px;
}