/* Less file for ProductsContainer*/

.slider-container{
	height: 10%; 
	margin: 0 auto 0px auto;
	width: 100%;

	.slider-title{
		color: #aaa;
		margin-left: 10px; 
	}

	.ProductionList{
		overflow-x: scroll;
		overflow-y: hidden;
		height: 100%;
		width: 100%;
		padding: 0px;

		.list-inline{
			white-space: nowrap;

			.ProductionItem{
				border: 0px solid black;
				overflow: hidden; 
				padding: 0;
				margin-left: 20px;
				/*height: 300px;*/
				width: 15%;

				.cover{
					width: 100%;
					box-shadow: 0px 0px 10px #000;

					img{
						width: 100%;
					}

					&:hover{
						border:3px solid #FF7600;
						border-radius:5px;
						cursor: pointer;
						box-shadow: 5px 5px 10px #000;
					}
				}

				.selected{
					width: 100%;
					border: 3px solid #FF7600;
					border-radius: 5px;
					box-shadow: 5px 5px 10px #000;

					img{
						width: 100%;
					}
				}
			}
		}
	}
}