<div class="dashboard">

	<div style="height:134px; width: 100%;"></div>

	<carousel-container id="Cover" href="#Cover" slides="dashCtrl.slides" title="Cover" active="dashCtrl.isKeyboardActive(1)"></carousel-container>
	<products-container id="Series" href="#Series" slides="dashCtrl.series" title="Series" active="dashCtrl.isKeyboardActive(2)"></products-container>
	<products-container id="Peliculas" href="#Peliculas" slides="dashCtrl.movies" title="Peliculas" active="dashCtrl.isKeyboardActive(3)"></products-container>
	<products-container id="Telenovelas" href="#Telenovelas" slides="dashCtrl.telenovelas" title="Telenovelas" active="dashCtrl.isKeyboardActive(4)"></products-container>
	<products-container id="Noticias" href="#Noticias" slides="dashCtrl.news" title="Noticias" active="dashCtrl.isKeyboardActive(5)"></products-container>

</div>
