/* Less file for dashboard*/
.dashboard {
	.centered-wrapper{
		width: 90%;
		height: 90%;
		margin: 0 auto;
	}
	.centered-wrapper img{
		width: 100%;
		height: 100%;
		margin: 0% auto;
	}

	.featured-slider{
		min-height: 400px;
	}
	.glyphicon-chevron-left{
		/*margin-left: -80px!important;*/
	}
	.glyphicon-chevron-right{
		/*right: 20%!important;*/
	}
	.btn-warning:link{
		background-color: #FF7600;
	}
	.carousel-control{
		/*background-image: none!important;*/
		width:5%!important;
	}
	.carousel-caption{
		left:6%;
		right: 50%;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
		bottom:60px;
	}
	.slide {
		min-height: 400px;
		width:100%;
	}

	.carousel-indicators li {
		background-color: gray;
		border-color: gray;
		margin-left: 10px;
	}
	.carousel-indicators .active {
		background-color: #FF7600;
		border-color: #FF7600;
		margin-left: 8px;
	}
}